Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
pandas
flasgger
streamlit
tensorflow-cpu
opencv-python-headless
nltk
Pillow
keras
plotly
pytz
datetime
quandl
investpy
tqdm
bs4
joblib

pandas_ta
sklearn
