Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
pandas
flasgger
streamlit
tensorflow-cpu
opencv-python-headless
nltk
Pillow
keras
plotly
pytz
datetime
quandl
investpy
investiny
tqdm
bs4
joblib
git+https://github.com/alvarobartt/investpy.git@master
pandas_ta
sklearn
